body {
	margin: 0;
	padding: 0;
	width: 100%;
	background-color: #E9E7E2;
	background-image: url(images/bg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	font-family: Asap, sans-serif;
}
.wrap {
        margin: 0;
        padding: 0;
	margin-left: auto;
	margin-right: auto;
        width: 1000px;
/*	width: 50%;*/
}

/*@media only screen and (max-width:1300px) {
	.wrap {
		width: 70%;
	}
}

@media only screen and (max-width:1024px) {
	.wrap {
		width: 80%;
	}
}

@media only screen and (max-width:800px) {
	.wrap {
		width: 100%;
	}
}*/

header {
	background-color: #AD0101;
	background-image: url(images/navbg.jpg);
	background-size: 100% 100%;
	width: 100%;
	height: 350px;
}

header h1, header h2 {
	margin: 0;
}

#menu{
	width: 100%;
	padding-top: 30px;
	padding-bottom: 50px;
}

#menu ul{
	display: table;
	text-align: center;
	width: 100%;
	margin: 0;
	padding: 0;
}

#menu li{
	display: table-cell;
}

#menu a {
	display: inline;
	font-family: Asap-bold, Asap, sans-serif;
	font-size: 10pt;
	font-weight: bold;
    	text-transform: uppercase;
	padding-bottom: 3px;
	color: white;
	border-bottom: 4px solid rgba(192, 224, 44, 0);
	text-decoration: none;
	transition-duration: 0.3s;
}

#menu a:hover {
	border-bottom: 4px solid rgba(192, 224, 44, 0.7);
}

#menu ul li.current_page_item > a,
#menu ul li.current-menu-ancestor > a,
#menu ul li.current-menu-item > a,
#menu ul li.current-menu-parent > a {
	border-bottom: 4px solid #C0E02C;
}

#menu-item-24:after {
        content:"\A(En contruction)";
        white-space: pre;      
}

#menu-item-24 a:hover {
        border-bottom: 0px solid rgba(192, 224, 44, 0);
}

.epitech_logo {
	outline: 0;
	float: right;
	margin-right: 30px;
}

.separator {
	clear: both;
	width: 100%;
	height: 10px;
	background-color: #C0E02C;
}

.sm_separator {
	background-color: #E2E2E2;
	height: 1px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.caption {
    font-style: italic;
    text-align: right;
    color: #c5c5c5;
    font-size: 7pt;
    margin-right: 5px;
}

h2 {
	margin: 0;
	text-transform: uppercase;
	color: #AD0101;
	font-weight: normal;
}

h3 {
	margin: 0;
	text-transform: uppercase;
	color: #AD0101;
	font-weight: normal;
        font-size: 15pt;
        line-height: 1.1;
        color: #AD0101;
}

h4, h4 a,
h4 a:hover,
h4 a:focus{
	margin: 0;
	text-transform: uppercase;
	color: #AD0101;
        text-decoration: none;
        font-size: 12pt;
}

h5, h5 a,
h5 a:hover,
h5 a:focus,
#loginform label{
	margin: 0;
	color: #AD0101;
	font-weight:normal;
        text-decoration: none;
        font-size: 11pt;
}

#loginform label{
	font-weight: bold;
}

#loginform input{
	width: 200px;
}

#loginform #wp-submit{
	background-color: #C0E02C;
	border-bottom: 2px solid #9AB221;
    border-radius:5px;
    color: white;
    font-weight: bold;
    margin-top: 20px;
    padding: 8px;
    width:135px;
}

#loginform #wp-submit:hover {
    background-color: #CBEA2E;
}

h6 {
	margin: 0;
	color: #AD0101;
	font-weight:normal;
}

p,li , ul {
	color: #A6A6A6;
	font-family: Asap, sans-serif;
	font-size: 10pt;
}

.date {
	float: right;
	font-style: italic;
	color: #AD0101;
}

.content {
	width: auto;
	background-color: #f5f5f5;
	padding: 35px;
	overflow: hidden;
	margin-bottom: -35px;
}

.box_content {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	overflow: hidden
}

.box_content h5 a{
        font-size: 13pt;
}
.box {
	border: 1px solid #E2E2E2;
	//width: 67%;
	background-color: white;
	border-radius: 3px;
	moz-border-radius: 3px;
}

.side {
	float: right;
	//width: 29%;	
}

.min-box {
	border: 1px solid #E2E2E2;
	width: 100%;
	background-color: white;
	border-radius: 3px;
	moz-border-radius: 3px;
}

.min-box p {
	font-size: 8pt;
}

.min-box h5 {
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
}

.min_box_content {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 15px;
	padding-right: 15px;
}

.sidebar_separator {
	background-color: #E2E2E2;
	height: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

p a,
.more-link {
	text-decoration: none;
	color: #C0E02C;
	font-weight: bold;
}

p a:hover,
p a:focus {
        text-decoration: none;
	color: #C7E342;
	font-weight: bold;
}

.nav-links a {
	text-decoration: none;
	color: #C0E02C;
	font-weight: bold;
	font-size: 10pt;
}

.box-title-container {
	//width: 67%;
	background-color: #e6e6e6;
	margin: 0;
	padding: 0;
}

.box-title {
    	display: block;
	margin: 10px 0;
	padding: 0;
    	white-space: nowrap;
    	position:relative;
}

.box-title-container span {
	vertical-align: text-bottom;
}

.box-title > span {
    background-color: #F5F5F5;
    padding: 2px;
    padding-right: 20px;
    margin: 0;
    color: #AD0101;
    font-size: 20px;
}

.alignleft {
	float: left;
	margin-right: 10px;
}

.alignright {
	float: right;
	margin-left: 10px;
}

.moretext {
	color: white;
	background-color: #C0E02C;
	padding: 8px;
	margin-top: 20px;
	float: right;
	border-radius: 3px;
	moz-border-radius: 3px;
	-webkit-box-shadow: 0px 2px 2px 0px #9AB221;
	box-shadow: 0px 2px 2px 0px #9AB221;
        font-weight: bold;
}

.moretext:hover {
	background-color: #CBEA2E;
}



/* Widget category post */

.actualite {
	border: 1px solid #E2E2E2;
	width: 100%;
	background-color: white;
	border-radius: 3px;
	moz-border-radius: 3px;
	margin-bottom: 25px;
}

.widget_categoryposts p {
	font-size: 8pt;
}

.widget_categoryposts h5,
.widget_weptile-image-slider-widget h5,
.Social_Widget h5 {
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	color: #AD0101;
}

.widget_categoryposts li {
	list-style: none;
}

.widget_categoryposts ul {
	margin: 0;
	padding: 0;
}

.widget_categoryposts a {
	font-size: 10pt;
	text-decoration: none;
	color: #AD0101;
}

.widget_categoryposts .post-date {
	font-size: 8pt;
	color: #AD0101;
	float: right;
	margin-top: 4px;
}

.cat-post-item {
	border-top: 1px solid #E2E2E2;
	padding-top: 10px;
	margin-bottom: 10px;
}

.cat-post-item:first-child{
	padding-top: 15px;
}

/*******************/
/* Slider */

.widget_weptile-image-slider-widget .min_box_content,
.Social_Widget .min_box_content,
.temoignage .min_box_content {
	padding: 0;
}

.slider-wrapper, .socialmedia-buttons {
	border-top: 1px solid #E2E2E2;
	padding-top: 10px;
}


/*******************/
/* Social Widget */

.Social_Widget {
	margin-top: 25px;
}

/******************/
/* Temoignages widget */

.temoignage {
	margin-top: 25px;
}

/******************/
/* Clendar */

.ai1ec-posterboard-view .ai1ec-date-block-wrap {
	text-shadow: 0 0 0 #fff;
}

.ai1ec-posterboard-view .ai1ec-date-block-wrap {
	opacity: 1;
}

.calendar h5 {
	margin: 0;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 10px;
	border-bottom: 1px solid #e2e2e2;
	padding-bottom: 10px;
	color: #AD0101;
}

.calendar {
	border: 1px solid #E2E2E2;
	width: 100%;
	background-color: white;
	border-radius: 3px;
	moz-border-radius: 3px;
	margin-bottom: 25px;

}

.ai1ec-date {
	border-top: 1px solid #fff !important;
}

.ai1ec-date-title, .ai1ec-month {
	background-color: #C0E02C !important;
	color: white !important;
	text-shadow: 0 0 0 #f5f5f5 !important;
}

.ai1ec-month:hover {
	background-color: #CDED2F !important;
	color: white !important;
	text-shadow: 0 0 0 #f5f5f5 !important;
}

.ai1ec-field-value, .ai1ec-event-description {
	color: #a6a6a6;
}

.ai1ec-popup-trigger, .ai1ec-event-time, .ai1ec-event-title {
	color: #AD0101;
}

.ai1ec-event-location {
	color: #a6a6a6;
}

/******************/

.box_headline {
	margin-bottom: 25px;
}

.box_headline h3 a,
.box_headline h4 a {
	margin: 0;
	text-transform: uppercase;
	text-decoration: none;
	color: #AD0101;
}

.box_headline .moretext {
	margin-bottom: 20px;
	margin-right: 40px;
}

.box_headline p,
.box_headline h3,
.box_headline h4 {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

.box_headline .moretext a {
	font-size: 11pt;
	font-family: Asap-bold, Asap, sans-serif;
	color: white;
	text-decoration: none;
}

.img_thumbnail {
	width: 100%;
	height: auto;
}

.box_headline .separator {
	margin-top: -4px;
}

.icon {
	width: 18px;
}

.min-icon {
	width: 16px;
}
.navbar-header, .navbar {
    background-color: #AD0101;
    width: 485px;
    margin: auto;
}

.navbar-default .navbar-toggle {
    background-color: #940101;
    border-color: #940101;
    color: #fff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #7A0101;
}

.navbar-collapse,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #940101;
    background-color: #940101;
}

.navbar .menu,
.navbar .menu li {
    list-style: none;
    font-size: 12pt;
    line-height: 2.5;
    margin: 0;
    padding: 0;
}

.navbar .menu li {
    padding-left: 20px;
}

.navbar .menu li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.navbar .menu > li:hover,
.navbar .menu > li:focus {
    background-color: #AD0101;
}

.menu li.current_page_item > a,
.menu li.current-menu-ancestor > a,
.menu li.current-menu-item > a,
.menu li.current-menu-parent > a {
    color: #D57964;
}

@media only screen and (max-width:1000px) {
	.wrap {
		width: 800px;
	}
        
        header {
                background-image: url(images/navbg_small.jpg);
                height: 280px;
        }
}

@media only screen and (max-width:767px) {
	.wrap {
		width: 485px;
	}
        
        header {
                height: 50px;
                background-image: none;
        }
        .content {
                padding: 5px;
                padding-top: 50px;
        }
        .side {
            float: none;
        }
        .nivoSliderWeptile {
            width: 70%;
            margin: auto;
        }
        .box-title-container {
            background-color: #f5f5f5;
        }
        header {
            height: 0px;
        }
}
@media only screen and (max-width:480px) {
	.wrap, 
        .navbar-header,
        .navbar {
		width: 370px;
	}
        
        header {
                height: 50px;
                background-image: none;
        }
        .content {
                padding: 5px;
                padding-top: 50px;
        }
        .side {
            float: none;
        }
        .nivoSliderWeptile {
            width: 70%;
            margin: auto;
        }
        .box-title-container {
            background-color: #f5f5f5;
        }
        header {
            height: 0px;
        }
}